{% extends 'base.html' %}

{% block body %}
<form action="/name/{{ date.id }}" method="POST">
    Add a Name<input type="text" name="create_name"> <input type="submit" value="Name">
</form>
{% for name in date.date_name %}
<h1>{{ name.name }}</h1>
{% endfor %}
<p>
    {{ date.date.strftime("%B/%d/%Y %I:%M%p") }}
</p>

<h1>Comments</h1>
<form action="/comment/{{ date.id }}" method="POST">
New Comment <input type="text" name="addc"> <input type="submit" value="Comment">
</form>

{% for comment in date.comment %}
<li>
    <span class="comment_{{ comment.id }}" >
        {{ comment.comment }}
    </span>
</li>
{% endfor %}

{% endblock %}

